include mixins/message

doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        linkr(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
        link(rel="stylesheet" href="/assets/css/styles.css")
    body 
        if messages.error 
           +message("error", messages.error) 
        //- flash에서 만든 메시지는 local에 저장된다.
        if messages.info 
            +message("info", messages.info)
        if messages.success
            +message("success", messages.success)
        include partials/header
        main
            block content
        include partials/footer
    script(src="/assets/js/main.js")
    script(src="https://kit.fontawesome.com/3294494ea5.js" crossorigin="anonymous")
    block scripts
//- 위 방법으로 js 파일을 pug에 넣을 수 있다. for frontend
//- 아래 줄은 font awesome 사용을 위한 것