extends base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Password",name="oldPw", type="password", required)  
        input(placeholder="New Password",name="newPw", type="password", required)    
        input(placeholder="New Password Confirmation",name="newPw2", type="password", required)  
        input(placeholder="Submit",type="submit", value="Change Password")
